@model List<Wedding>
@{
    ViewData["Title"] = "Weddings Page";
}
@* @{ int UUID = (int)Context.Session.GetInt32("UUID");} *@

<div class="text-center">
    <h1>Weddings</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Wedding Of</th>
                <th scope="col">Date</th>
                <th scope="col">Guest Count</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Wedding w in Model)
            {
                bool RSVP = w.UserAttending.Any(a => a.UserId == Context.Session.GetInt32("UUID"));
            <tr>
                <td><a asp-route-WeddingId="@w.WeddingId" asp-action="ViewWedding" asp-controller="Wedding">@w.NameOne & @w.NameTwo</a> </td>
                <td>@w.WeddingDate</td>
                <td>a couple</td>
                <td>
                @if(w.UserId == Context.Session.GetInt32("UUID"))
                {
                    <form asp-action="Delete" asp-controller="Wedding" method="post" asp-route-WeddingId="@w.WeddingId">
                        <button class="btn btn-danger">Delete</button>

                    </form>   

                } else
                {
                    <form asp-action="ToggleAttend" asp-controller="Wedding" method="post" asp-route-weddingId="@w.WeddingId">
                        <button class="btn btn-primary">@( RSVP ? "Not Attending" : "RSVP")</button>
                    </form>
                }
                </td>
             </tr>
            }
        </tbody>
    </table>
</div>